.c-button {
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.5s;

  &.theme-white {
    border: 1px solid rgba(60, 60, 67, 0.18);
    background: #9E9E9E;
    color: #fff;
    &:hover {
      background: #31AE54;
      color: #fff;
    }
  }

  &.theme-green {
    border: 1px solid rgba(60, 60, 67, 0.18);
    background: #31AE54;
    color: #fff;

    &:hover {
      background: #9E9E9E;
      color: #fff;
    }
  }

  &.loading {
    background: #9E9E9E;
    pointer-events: none;
    color: #fff;
    padding: 12px 115px;

    &:hover {
      background: #9E9E9E;
    }

  }

  &.disabled {
    background: #9E9E9E;
    pointer-events: none;
    color: #fff;


    &:hover {
      background: #9E9E9E;
    }

  }
}

.preloader {

    & div{
      border-right: 3px solid white;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      width: 18px;
      height: 18px;
      color: #fff;
    }
    
}

