.stories {
        display: flex;
        justify-content: space-between;
}

.icon{
    color: #262626;
    width: 50px;
}

.feeds{
    &__list{
        max-width: 980px;
        width: 100%;
        margin: 0 auto;
    }
}

.feed {
    margin-bottom:24px;

    &:last-child{
        margin-bottom: 0;
    }
}

.topline {
    &__title{
        font-weight: bold;
        color:#292929;
    }
    &__wrap {
      display: flex;
      justify-content: space-around;
    }
    &__icon {
      color: #000;
      width: 25px;
      height: 25px;
    }
    &__actions {
      display: flex;
      align-items: center;
    }
    &__avatar {
      width: 37px;
      height: 37px;
    }

  }
